<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Today</title>
</head>
<body>
  <h1>Today</h1>
  <p><%= "The date is #{Date.today.strftime("%A, %B %e, %Y")}" %></p>
</body>
</html>
